:root {
  --primary-color: #3498db;
  --primary-white: #f3f3f3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.carrousel_wrapper {
  height: 700px;
  overflow: hidden;
}

.carrousel_image {
  background-size: cover !important;
}

/* Navbar */
.navbar-collapse {
  justify-content: flex-end;
}

.navbar.my-navbar {
  transition: all 1s ease;
}

.my-navbar.active {
  background: #fff !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5) !important;
  color: #000 !important;
  font-size: 20px !important;
  transform: scale(1);
}

.my-navbar.active .my-brand {
  color: #000 !important;
  font-size: 28px !important;
  transition: all 1s ease;
}

.nav-item {
  margin-left: 20px;
}

.designation {
  text-align: center;
  overflow: hidden;
}

.designation {
  font-size: 24px;
  animation: my-ani 5s infinite steps(15);
  white-space: nowrap;
  border-right: 4px solid #fff;
  margin: 0 auto;
}

@keyframes my-ani {
  0% {
    width: 0ch;
  }
  50% {
    width: 14ch;
  }
  100% {
    width: 0ch;
  }
}

/* my profile */

#profile {
  padding: 50px;
  background: #f7f1e3;
}

#profile .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

#profile .skills {
  padding: 20px;
}

#profile .skills .skill-name {
  text-align: left;
  margin: 30px 0;
  font-weight: 600;
  text-transform: uppercase;
}

#profile .skills .skill-name .percen {
  float: right;
}

#profile .skills .skill-name .fab {
  font-size: 18px;
}

#profile .skills .skill-name .fa-html5 {
  color: #ff5733;
}

#profile .skills .skill-name .fa-css3-alt {
  color: #3b5998;
}

#profile .skills .skill-name .fa-js {
  color: #f0db4f;
  background: #000;
}

#profile .skills .skill-name .fa-bold {
  background: #602c50;
  color: #fff;
  padding: 5px 7px;
  font-size: 15px;
}

#profile .skills .skill-name .fa-react {
  color: #00d8ff;
}

#profile .skills .bar {
  display: block;
  height: 3px;
  background: #fff;
  overflow: hidden;
  border: 1px solid rgba(46, 204, 113, 0.4);
  border-radius: 5px;
  -webkit-box-shadow: 0 0px 8px #37d279;
  box-shadow: 0 0px 8px #37d279;
}

#profile .skills .bar span {
  display: block;
  background: #ff5733;
  height: 3px;
  position: relative;
}

#profile .skills .bar .html.active {
  width: 90%;
  -webkit-animation: html 2s ease 2s;
  animation: html 2s ease 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

#profile .skills .bar .css.active {
  width: 60%;
  -webkit-animation: css 2s ease 2s;
  animation: css 2s ease 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

#profile .skills .bar .javascript.active {
  width: 70%;
  -webkit-animation: js 2s ease 2s;
  animation: js 2s ease 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

#profile .skills .bar .bootstrap.active {
  width: 80%;
  -webkit-animation: bootstrap 2s ease 2s;
  animation: bootstrap 2s ease 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

#profile .skills .bar .reactjs.active {
  width: 85%;
  -webkit-animation: reactjs 2s ease 2s;
  animation: reactjs 2s ease 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@-webkit-keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes js {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes bootstrap {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes reactjs {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}

#profile h1 {
  font-size: 40px;
  color: #333;
}

#profile .card-cust {
  margin: 20px auto;
  width: 300px;
  height: 450px;
  background: #e74c3c;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

#profile img {
  width: 100%;
}

#profile .btn-view {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 7px 10px;
  background: #f8f9fb;
  color: #2ecc71;
  border-radius: 34px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

#profile .content-profile {
  height: 42%;
  position: absolute;
  bottom: 0;
  background: #f8f9fb;
  text-align: center;
  -webkit-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
  -webkit-transition: 0.5s cubic-bezier(0.86, 1.16, 0.95, 1.05);
  transition: 0.5s cubic-bezier(0.86, 1.16, 0.95, 1.05);
  -webkit-transform: perspective(500px) scale(0);
  transform: perspective(500px) scale(0);
}

#profile .content-profile.active {
  -webkit-transform: perspective(500px) scale(1);
  transform: perspective(500px) scale(1);
}

#profile .content-profile h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #40d47e;
  margin-bottom: 5px;
}

#profile .content-profile .first {
  font-size: 14px;
  color: #ccc;
  text-transform: capitalize;
}

#profile .content-profile .sec {
  font-size: 14px;
  color: #aaa;
}

#profile .content-profile .btn-skills {
  font-weight: bold;
  padding: 8px 40px;
  background: #3498db;
  border-radius: 25px;
  margin-top: 8px;
  display: inline-block;
  color: #fff;
}

#profile .content-profile .close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #c0392b;
  font-size: 18px;
  cursor: pointer;
}

footer {
  padding: 30px;
  background: #252525;
  color: #fff;
  text-align: center;
}

#service {
  padding: 40px 0;
  background: #2ecc71;
  color: #f3f3f3;
  text-align: center;
  padding-bottom: 80px;
}

#service .title {
  font-size: 40px;
  color: #f3f3f3;
  font-weight: 600;
  margin-left: -15px;
  text-align: left;
  margin-bottom: 30px;
}

#service .icon {
  font-size: 35px;
  margin-bottom: 10px;
}

#service .provide {
  font-size: 18px;
  font-weight: 600;
}

#service .description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}

/* contact us */

#contact {
  font-family: Roboto;
  background-color: #fff !important;
}

#contact .heading {
  margin: 34px 0;
  font-size: 38px;
  margin-left: -15px;
}

#contact .labels {
  font-size: 20px;
  display: block;
  margin: 0 0px 8px 15px;
}

#contact .inputs {
  display: block;
  width: 250px;
  height: 38px;
  margin-left: 15px;
  margin-bottom: 27px;
  border: 2px solid #3fd05f;
  padding-left: 10px;
  font-size: 18px;
}

#contact .input {
  display: block;
  margin-left: 15px;
  margin-bottom: 27px;
  border: 2px solid #3fd05f;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
}

#contact .msg {
  width: 600px;
  height: 100px;
}

#contact .submit {
  margin-left: 15px;
  margin-bottom: 50px;
  border: 2px solid #3fd05f;
  background-color: #fff;
  padding: 10px 47px;
  transition: all 0.5s;
  cursor: pointer;
}

#contact .submit:hover {
  background-color: #3fd05f;
  color: #fff;
}

/* person details */

.my-card {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.details-icons {
  font-size: 28px;
  color: #2ecc71;
}

.details-name {
  font-size: 18px;
  font-weight: 600;
}

.details-value {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
